/**
 * @name Dark Matter
 * @author Tropical#8908, Hammock#3110
 * @version 3.0.0
 * @description A cold, dark & frosty theme.
 * @source https://github.com/DiscordStyles/DarkMatter/
*/

@import url("https://DiscordStyles.github.io/DarkMatter/src/base.css");

/* Variables */
:root {
  --avatar-size: 32px;
  --background-image: url("https://github.com/injurka/dotfiles/assets/102309602/69960e6c-a645-4c8b-921f-bb4e0567ce9e");
  --home-image: url("https://github.com/injurka/dotfiles/assets/102309602/0f9d15c7-e7d7-4cc4-8137-9e9d1b27d22e");
  --background-solid: #1619219f;
  --background-solid-dark: #101218af;
  --background-solid-darker: #0c0e12a9;
  --accent: 37, 172, 232;
  --accent-alt: 29, 101, 134;
}
